/* Global variables */
:root {
	/* Colors */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	--text-color-bis: #DFD3F3;
    --text-color: #FFF;
    --primary-regular: #CCBADB;
	--primary-light: #E3D9F0;
	--primary-dark: #A991C4;
    --secondary-regular: #814ebb;
    --secondary-light: #9b76c5;
    --secondary-dark: #5E18AE;
    --background: #000;
	--accent-regular: #4FB4FD;
    --accent-light: #8DD3F6;
    --accent-dark: #3a78a5;
	--accent-orange: #FFA500;

	--link-color: var(--text-color);

	/* Gradients */
	--gradient-1: linear-gradient(-150deg, #8dd3f6, #83c8ed, #78bce4, #6fb1da, #65a6d1, #68a1ce, #6b9bcb, #6e96c8, #7e95c9, #8d94c9, #9c92c7, #a991c4);
	--gradient-2: linear-gradient(-150deg, #a991c4, #b099c8, #b6a0cc, #bda8d1, #c3b0d5, #c2b5db, #c2bae1, #c1bfe6, #b6c4ed, #a9c9f3, #9bcef6, #8dd3f6);
	--gradient-3: linear-gradient(-150deg, #4fb4fd, #5cadff, #6da6ff, #819eff, #9594fd, #9687f5, #987aed, #9b6ce3, #8c59d6, #7d45c9, #6d30bb, #5e18ae);
	--gradient-3-invert: linear-gradient(150deg, #4fb4fd, #5cadff, #6da6ff, #819eff, #9594fd, #9687f5, #987aed, #9b6ce3, #8c59d6, #7d45c9, #6d30bb, #5e18ae);
	--gradient-4: linear-gradient(-150deg, #4fb4fd, #61a9f7, #729eee, #8092e4, #8d86d8, #ab7ed2, #c574c6, #dc6bb4, #ff6697, #ff6f70, #ff8645, #ffa500);
	--gradient-4-invert: linear-gradient(150deg, #4fb4fd, #61a9f7, #729eee, #8092e4, #8d86d8, #ab7ed2, #c574c6, #dc6bb4, #ff6697, #ff6f70, #ff8645, #ffa500);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));
	--gradient-1-double: linear-gradient(-150deg, var(--accent-light) 5%, #68a1ce, #6b9bcb, var(--primary-dark) 50%, #6b9bcb, #68a1ce, var(--accent-light) 100%);

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'JetBrains Mono', var(--font-system);
	--font-brand: 'Druk Text Wide', var(--font-system);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;

	/* Backgrounds */
	--background-1: url('../../public/assets/backgrounds/background1.png') no-repeat center center / cover;
	--background-2: url('../../public/assets/backgrounds/background2.png') no-repeat center center / cover;
	--background-3: url('../../public/assets/backgrounds/background3.png') no-repeat center center / cover;
	--background-4: url('../../public/assets/backgrounds/background4.png') no-repeat center center / cover;
	--background-5: url('../../public/assets/backgrounds/background5.png') no-repeat center center / cover;
}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;

	--text-color-bis: #DFD3F3;
    --text-color: #FFF;
    --primary-regular: #CCBADB;
	--primary-light: #E3D9F0;
	--primary-dark: #A991C4;
    --secondary-regular: #814ebb;
    --secondary-light: #9b76c5;
    --secondary-dark: #5E18AE;
    --background: #000;
	--accent-regular: #4FB4FD;
    --accent-light: #8DD3F6;
    --accent-dark: #3a78a5;
	--accent-orange: #FFA500;

	--link-color: var(--text-color);

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-999);
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 900;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
