---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Link from '../components/Link.astro';
import Icon from '../components/Icon.astro';
import Grid from '../components/Grid.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';

// Styles
import '../styles/main.scss';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.slice(0, 6);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<main>
		<div class="wrap">
			<section class="top">
				<Hero
					title="HI, I'M"
					options={["Jocelyn", "Student", "Web Developper", "Volleyball player", "Jocelyn"]}
					align="start"
				>
					<div class="links">
						<Link
							name="LinkedIn"
							link="https://www.linkedin.com/in/jocelyn-marcilloux-buisson/"
						>
							<Icon icon="linkedin-logo" size="1.33em" />
						</Link>
						<Link
							name="Twitter"
							link="https://twitter.com/Jocelyn_MB_"
						>
							<Icon icon="twitter-logo" size="1.33em" />
						</Link>
						<Link
							name="GitHub"
							link="https://github.com/Lonejyc"
						>
							<Icon icon="github-logo" size="1.33em" />
						</Link>
					</div>
				</Hero>
				<article class="about">
					<h2>About me</h2>
					<p>I'm a student in MMI (Multimedia and Internet Jobs) at the University of Savoie Mont-Blanc. I'm 20 years old and I live in Aix-Les-Bains. 
						I love coding and learn new code languages. I'm very curious and I love to keep up to date with code news.
						I'm actually learning a lot of languages, but I mainly work on basic stuff like front-end frameworks or pure Javascript.
						Besides, I'm a volleyball player and assistant coach for young player. I'm also a big fan of video games and an Apple lover.
					</p>
					<a href="CV_Jocelyn_Marcilloux-Buisson.pdf" download="CV_Jocelyn_Marcilloux-Buisson" class="link_">Download my CV</a>
				</article>
			</section>
			<script>
				import { gsap } from 'gsap';
				import { ScrollTrigger } from 'gsap/ScrollTrigger';
				gsap.registerPlugin(ScrollTrigger);
				
				
				let tl = gsap.timeline({
					scrollTrigger: {
						trigger: '.wrap',
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none none'
					}
				});

				tl.from('.links', { opacity: 0, y: 100, duration: 1, ease: 'power2.out'}, '+=0.2');
				tl.from('.about', { opacity: 0, y: 100, duration: 1, ease: 'power2.out'}, '-=0.9');
				let tl2 = gsap.timeline({
					scrollTrigger: {
						trigger: '.mid',
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none none'
					}
				});

				// tl2.from('.mid', { opacity: 0, y: 100, duration: 1, ease: 'power2.out', delay: 0.3 });
				tl2.from('.card', { opacity: 0, y: 0, duration: 1, ease: 'power2.out', delay: 0.3, stagger: 0.2 });
			</script>
			<section class="mid" id="projects">
				<h2 class="max-md:text-center">Projects</h2>
				<Grid variant="offset">
					{
						projects.map((project) => (
							<PortfolioPreview project={project} />
							
						))
					}
				</Grid>
			</section>
		</div>

		<ContactCTA />
	</main>
</BaseLayout>