---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Link from '../components/Link.astro';
import Icon from '../components/Icon.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';

// Styles
import '../styles/main.scss';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<main>
		<div class="wrap">
			<section class="top">
				<Hero
					title="HI, I'M"
					options={["Jocelyn", "Student", "Web Developper", "Volleyball player", "Jocelyn"]}
					align="start"
				>
					<div class="links">
						<Link
							name="LinkedIn"
							link="https://www.linkedin.com/in/jocelyn-marcilloux-buisson/"
						>
							<Icon icon="linkedin-logo" size="1.33em" />
						</Link>
						<Link
							name="Twitter"
							link="https://twitter.com/JocelynBui71089"
						>
							<Icon icon="twitter-logo" size="1.33em" />
						</Link>
						<Link
							name="GitHub"
							link="https://github.com/Lonejyc"
						>
							<Icon icon="github-logo" size="1.33em" />
						</Link>
					</div>
				</Hero>
				<article class="about">
					<h2>About me</h2>
					<p>I'm a student in MMI (Multimedia and Internet Jobs) at the University of Savoie Mont-Blanc. I'm 19 years old and I live in Aix-Les-Bains. 
						I love coding and learn new code languages. I'm very curious and I love to keep up to date with code news.
						I'm actually learning a lot of languages, but I mainly work on basic stuff like front-end developpement in HTML/SCSS. I'm also starting to learn Frameworks like React and Astro.
					</p>
				</article>
			</section>

			<!-- <Skills /> -->
		</div>

		<ContactCTA />
	</main>
</BaseLayout>