---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Link from '../components/Link.astro';
import Icon from '../components/Icon.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';

// Styles
import '../styles/main.scss';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div>
		<div>
			<header class="hero">
				<Hero
					title="HI, I'M"
					options={["Jocelyn", "Student", "Web Developper", "Volleyball player", "Jocelyn"]}
					align="start"
				>
					<div class="roles">
						<Link
							name="LinkedIn"
							link="https://www.linkedin.com/in/jocelyn-marcilloux-buisson/"
						>
							<Icon icon="linkedin-logo" size="1.33em" />
						</Link>
						<Link
							name="Twitter"
							link="https://twitter.com/JocelynBui71089"
						>
							<Icon icon="twitter-logo" size="1.33em" />
						</Link>
						<Link
							name="GitHub"
							link="https://github.com/Lonejyc"
						>
							<Icon icon="github-logo" size="1.33em" />
						</Link>
					</div>
				</Hero>

				<!-- <img
					alt="Jeanine White smiling in a red plaid shirt and tortoise shell glasses"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/> -->
			</header>

			<!-- <Skills /> -->
		</div>

		<main></main>

		<ContactCTA />
	</div>
</BaseLayout>