---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';

// Styles
import '../styles/main.scss';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div>
		<div>
			<header class="hero">
				<Hero
					title="HI, I'M"
					options={["Jocelyn", "Student", "Web Developper", "Volleyball player", "Jocelyn"]}
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
					</div>
				</Hero>

				<!-- <img
					alt="Jeanine White smiling in a red plaid shirt and tortoise shell glasses"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/> -->
			</header>

			<!-- <Skills /> -->
		</div>

		<main></main>

		<ContactCTA />
	</div>
</BaseLayout>