---
import type { arrayOutputType } from 'astro/zod';

interface Props {
	title: string;
	options: Array<string>;
	align?: 'start' | 'center';
}

const { align = 'center', options, title } = Astro.props;
---

<div class:list={['hero', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		<div class="slide">
			<div class="anim">
				{options && options.map((option) => <h1 class="animation">{option}</h1>)}
			</div>
		</div>
	</div>
	<slot />
</div>

<style>
	.slide {
		height: 100px;
		overflow: hidden;
	}

	.anim {
		animation: anim 15s ease-in-out infinite;
	}

	.animation {
		font-size: 72px;
		line-height: 100px;
		color: transparent;
		-webkit-text-stroke: var(--secondary-1) 1.2px;
	}
</style>
