---
import type { arrayOutputType } from 'astro/zod';

interface Props {
	title: string;
	options: Array<string>;
	align?: 'start' | 'center';
}

const { align = 'center', options, title } = Astro.props;
---

<div class:list={['hero', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		<div class="slide">
			<div class="anim">
				{options && options.map((option) => <h1 class="animation">{option}</h1>)}
			</div>
		</div>
	</div>
	<slot />
</div>
