---
import type { arrayOutputType } from 'astro/zod';

interface Props {
	title: string;
	options: Array<string>;
	align?: 'start' | 'center';
}

const { align = 'center', options, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		<div class="slide">
			<div class="anim">
				{options && options.map((option) => <h1 class="animation">{option}</h1>)}
			</div>
		</div>
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	.slide {
		height: 100px;
		overflow: hidden;
	}

	.animation {
		font-size: 72px;
		line-height: 100px;
		color: transparent;
		-webkit-text-stroke: rebeccapurple 1px;
		text-transform: uppercase;
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
