@mixin m {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}
@mixin min {
    @media screen and (min-width: 767.98px) {
        @content;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    font-family: JetBrains Mono;
    font-size: 20px;
    .header-left {
        display: flex;
        margin-inline: 30px;
        .logo img{
            width: 70px;
        }
    }
    .header-right {
        display: flex;
        margin-block: auto;
        @include min {
            .nav_links {
                display: flex;
                margin-inline: 30px;
                gap: 35px;
                .nav_link > a {
                    position: relative;
                    display: inline-block;
                }
                .nav_link > a:after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 1px;
                    margin-top: 5px;
                    transform: scaleX(0);
                    background-color: var(--text-color); 
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-in-out;
                }
                .nav_link:hover > a:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
        @include m {
            .nav_links {
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
                width: 0;
                height: 100vh;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--primary-light);
                z-index: 1;
                margin-inline: 0px;
                transition: all 0.5s ease-in-out;
                .nav_link {
                    transform: translateX(101%);
                    margin-top: 10px;
                    margin-inline: 10px;
                    &:nth-child(1){
                        margin-top: 80px;
                    }
                }
                .nav_link > a {
                    display: block;
                    padding: 1rem;
                    font-size: 1.5rem;
                    color: var(--secondary-dark);
                    transition: all 0.4s ease-in-out;
                    &:hover {
                        letter-spacing: 4px;
                        padding-left: 1.6rem;
                    }
                }
            }
        }
    }
    .burger {
        display: none;
        @include m {
            margin-inline: 30px;
            display: block;
            position: relative;
            padding: 0;
            margin-right: 10px;
            width: 45px;
            height: 45px;
            z-index: 2;
            cursor: pointer;
            border: none;
            background-color: transparent;
            .line {
                display: block;
                width: 45px;
                height: 4px;
                background-color: var(--primary-light);
                border-radius: 3px;
                transition: all 0.5s ease-in-out;
                &:after, &:before {
                    content: "";
                    width: 45px;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    background-color: var(--primary-light);
                    border-radius: 3px;
                    transition: all 0.5s ease-in-out;
                }
                &:before {
                    transform: translateY(-12px);
                }
            
                &:after {
                    transform: translateY(12px);
                }
            }
        }
    }
}
@include m {
    .navbar.show_nav {
        .nav_links {
            width: 100vw;
            .nav_link {
                transform: translateX(0);
                &:nth-child(1) {
                    transition: all 1s ease-out;
                }
                &:nth-child(2) {
                    transition: all 1.1s ease-out;
                }
                &:nth-child(3) {
                    transition: all 1.2s ease-out;
                }
            }
        }
        .burger .line {
            width: 0;
            background-color: transparent;
            &:before {
                transform: rotate(45deg);
                background-color: var(--secondary-dark);
            }
            &:after {
                transform: rotate(-45deg);
                background-color: var(--secondary-dark);
            }
        }
    }
}