main {
    margin-top: 100px;
    .top {
        h1 {
            font-size: 96px;
            @media screen and (max-width: 768px){
                font-size: 2.3rem;
                margin-left: 7px;
            }
        }
        .hero {
            .slide {
                height: 100px;
                overflow: hidden;
                @media screen and (max-width: 768px){
                    height: 50px;
                    margin-left: 3px;
                }
                h1 {
                    font-size: 72px;
                    line-height: 100px;
                }
                .anim {
                    animation: anim 15s ease-in-out infinite;
                    .animation {
                        font-size: 72px;
                        line-height: 100px;
                        color: transparent;
                        -webkit-text-stroke: var(--secondary-light) 1.2px;
                        @media screen and (max-width: 768px){
                            font-size: 1.8rem;
                            line-height: 50px;
                        }
                    }
                }
            }
            .links {
                display: flex;
                gap: 10px;
                margin-top: 50px;
            }
        }
        .about {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            max-width: 1100px;
            margin-inline: auto;
            h2 {
                font-family: "JetBrains Mono";
                font-weight: 700;
                margin-bottom: 60px;
                margin-inline: auto;
                color: var(--accent-light);
            }
            p {
                font-family: "JetBrains Mono";
                font-weight: 300;
                margin-inline: auto;
                text-align: center;
                color: var(--text-color)
            }
            .link_ {
                display: flex;
                margin: 10px auto;
                width: fit-content;
            }
        }
    }
}